<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario</title>
</head>

<body>
    <h1>Inventario</h1>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <% objetos.forEach(objeto => { %>
                <tr>
                    <td><%- objeto.id_objeto %></td>
                    <td><%- objeto.desc_item %></td>
                    <td><%- objeto.cantidad %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>

</html>
